<div class="container">
  <h1>External CareProviders</h1>

  <% if(errorMsg) { %>
    <div class="alert alert-danger" role="alert">
      <%= errorMsg %>
    </div>
  <% } %>

  <form action="" method="GET">
    <input type="text" value="<%= query %>" name="query">
  </form>

  <table class="table">
    <thead>
    <tr>
      <th>Naam</th>
      <th>AGB</th>
      <th></th>
    </tr>
    <tbody>
    <% organizations.forEach(function (entry) {
      let patient = entry.resource
    %>
    <tr>
      <td><%= entry.name %>
        %>
      </td>
      <td><%= entry.identifier %></td>
      <td><form method="post">
          <input type="hidden" name="organizationId" value="<%= entry.identifier %>">
          <input type="hidden" name="organizationName" value="<%= entry.name %>">
          <button class="btn btn-primary">Voeg toe</button>
        </form></td>
    </tr>
    <% }) %>
    </tbody>

  </table>
</div>
