<div class="container">

  <div class="row">
    <div class="col">
      <h1>Patienten</h1>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>BSN</th>
          <th>Naam</th>
          <th>Geboortedatum</th>
        </tr>
        <tbody>
        <% patients.forEach(function (entry) {
          let patient = entry.resource
        %>
        <tr data-href="patients/<%= patient.id %>">
          <th>
            <%= sails.jp.query(patient.identifier, '$[?(@.system==\'http://hl7.org/fhir/sid/us-ssn\')].value') %>
          </th>
          </th>
          <td>
            <%= sails.jp.query(patient, '$.name[0].given[0]') %>
            <%= sails.jp.query(patient, '$.name[0].family') %>
          </td>
          <td><%= patient.birthDate %></td>
        </tr>
        <% }) %>
        </tbody>
        </thead>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function ($) {
    $('tr[data-href]').click(function () {
      window.document.location = $(this).data("href");
    });
  });
</script>
