<div class="container">
  <div class="row">
    <div class="col mt-3">

      <div class="card">
        <div class="card-header">Patient details</div>
        <div class="card-body">
          <h5>
            <%= sails.jp.query(patient.resource, '$.name[0].given[0]') %>
            <%= sails.jp.query(patient.resource, '$.name[0].family') %>
          </h5>
          <table>
            <tr>
              <td>BSN:</td>
              <td> <%= sails.jp.query(patient.resource.identifier, '$[?(@.system==\'http://hl7.org/fhir/sid/us-ssn\')].value') %> </td>
            </tr>
            <tr>
              <td>Geboortedatum:</td>
              <td> <%= patient.resource.birthDate %> </td>
            </tr>
            <tr>
              <td>Geslacht:</td>
              <td> <%= patient.resource.gender === 'male' ? 'Man' : 'Vrouw' %> </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

  <div class="row mt-3">
    <div class="col">

      <div class="card">
        <div class="card-header">Externe zorg leveranciers</div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>Naam</th>
              <th>AGB</th>
            </tr>
            <tbody>

            <% externalCareProviders.forEach(function(cp) { %>
              <tr>
                <td> <%= cp.organizationName %> </td>
                <td> <%= cp.organizationId %> </td>
              </tr>
            <% }) %>
            </tbody>
          </table>
          <a href="<%= patient.id %>/external_care_providers" class="btn btn-primary">Toevoegen</a>
        </div>
      </div>
    </div>

  </div>
</div>
